h1{
    color: rgb(104, 160, 224);
}
#p2{
    color: blue;
}
#home-intro {
    border: 3px solid rgb(104, 160, 224);
    background-color: white;
    /*border: 3px;
    border-color: black;
    border-style: solid;*/
    text-align: center;
}
#home-intro:hover{
    background-color:lightgrey
}
#nav{
    text-align: center;
    background-color: rgb(104, 160, 224);
    height: 25px;
    padding-top: 5px;
    margin-bottom: 10px;
}
#nav a{
    margin: 0px 5px;
    /*margin: y-axis x-axis*/
    text-decoration: none;
    color: white;
}
#card{
    text-align: center;
}
#card-img{
    width:300px;
    height: 300px;
    margin: 0 auto;
    align-items: center;
}
#card-img img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}